header{
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.products ul{
    visibility: hidden;
}
.products:hover ul{
    visibility: visible;
}
.search{
    background-color: blue;
}